<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(process.cwd() + '/views/partials/header') %>
    <title>Home</title>
</head>
<body>
</div>
<%- include('./partials/pinnedFAQ',user,data) %>
<br><br>
</body>
</html>
